apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: millos-scada

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - configmap.yaml
  - secret.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - hpa.yaml
  - networkpolicy.yaml

commonLabels:
  app.kubernetes.io/part-of: millos
  app.kubernetes.io/managed-by: kustomize

images:
  - name: millos/scada-proxy
    newTag: latest
