apiVersion: v1
kind: ServiceAccount
metadata:
  name: scada-proxy
  namespace: millos-scada
  labels:
    app.kubernetes.io/name: scada-proxy
    app.kubernetes.io/component: backend
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: scada-proxy
  namespace: millos-scada
  labels:
    app.kubernetes.io/name: scada-proxy
spec:
  rules:
    - apiGroups: [""]
      resources: ["configmaps"]
      verbs: ["get", "list", "watch"]
    - apiGroups: [""]
      resources: ["secrets"]
      verbs: ["get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: scada-proxy
  namespace: millos-scada
  labels:
    app.kubernetes.io/name: scada-proxy
spec:
  roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: Role
    name: scada-proxy
  subjects:
    - kind: ServiceAccount
      name: scada-proxy
      namespace: millos-scada
